footer {
  background-color: #2F4858;
  position: sticky;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  height: 50px;
  position: relative;
  width: 100%;
  margin-top: 15px;
}
.frame-maps{
  margin:30px;
  border: 5px solid white;
  border-radius: 10px;
}
.list-style-type{
  list-style-type: none;
}