.mt-7 {
    margin-top: 7rem!important;
}
.fs-12{
    font-size:11px!important
  }
  .box-custom{
    width:100%;
    height: 50px;
    padding: 10px;
    box-shadow: #282c34;
    text-align: center;
    border-radius: 10px;
    color: white !important;
  }
  .footers {
    margin-top: 170px;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
    color: #9da4a7;
    text-align: center;
  }
  .fs-200 {
    font-weight: 700;
    font-size: 200px;
  }
  .rounded-05 {
    border-radius: 0.5rem !important;
  }
  .bg-custom {
    color: white !important;
    background-color: #2F4858;
  }
  .whites{
    color: white !important;
  }
  .custom-width{
    width:150px;
  }
.img-rounded img{
  border-radius: 70px;
}
.text-identity{
  color: #86BBDB;
}
.bg-identity{
  border: 1px #86BBDB !important;
  background-color: #86BBDB !important;
}
.bg-identity2{
  border: 1px #2F4858 !important;
  background-color: #2F4858 !important;
}
body {
  overflow-x: hidden !important; /* Hide vertical scrollbar */
}