.btnJngka {
    background-color: #336699;
    border: 2px solid #336699;
    width: auto;
    height: 40px;
    margin: 5%;
    font-size: 15px;
}
.btnJngka:hover {
    background-color: white ;
    color: #336699;
}

.rowCenterJWS {
    text-align: center;
    justify-content: center;
}

.cardJWS {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20%;
    margin-top: 5%;
    border: none;
}