.carousel-item {
    height: 450px !important;
}
.carousel-item img {
    margin-top: -190px !important;
}

.box {
    height: 450px !important;
}

.box img {
    /* margin-top: -100px !important; */
    height: 300px;
}

.imgAbout {
    margin-left: 140px;
    border-radius: 5%;
}

.contentCenter {
    justify-content: center;
}

.textAboutHead {
    font-weight: bolder; 
}

.paperRight {
    float: right;
    width: 100%;
    height: 100%;
    background-color: #86BBDB;
}

.paperLeft {
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
}

.paperContent2 {
    width: 100%;
    height: 100%;
    background-color: #86BBDB;
}
.paperContent {
    float: right;
    width: 50%;
    height: 100%;
    background-color: white;
}

.tinggiPaper {
    height: 100%;
}