.pagination {
    padding-left: 37%;
    margin-top: 20px;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #336699 ;
    border-color: #336699 ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #86BBDB ;
    border-radius: 50%;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #86BBDB ;
    border-color: #86BBDB;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: black;
    margin: 5px;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }