@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Uchen&display=swap');


.textHeaderNav {
    background-color: #2F4858;
    /* font-family: 'Uchen', serif; */
    color: white !important;
    font-size: 16px;
}

.textNavBrand {
    /* font-family: 'Uchen', serif; */
    color: white !important;
}
