.rowCenter {
    text-align: center;
}

.imagePremi {
    width: 500px;
}

.garisPembatas {
    width: 25%;
    margin-left: 38%;
}

.textTentangAsuransi {
    margin-top: 50px;
    text-align: justify;
}
.btnPremi {
    background-color: #336699;
    border: 2px solid #336699;
    font-weight: 400;
}

.btnPremi:hover {
    background-color: white;
    color: #336699;
}

.cardPaket {
    width: 60%;
    margin-left: 20%;
    max-height: 400px;
    border: none;
}