@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
.navbar-bg {
    background-color: #2F4858;
    color: white !important;
    font-size: 20px;
}

.nav-links{
    font-size: 16px !important;
    color: white !important;
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: #2F4858 !important;
}

