@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.rowCenter {
  text-align: center !important;
}
.cardLogin {
  border: "none" !important;
  background-color: #bdcbe5  !important;
}
.textLoginHead {
    /* font-family: 'Open-sans'; */
    font-weight: "400";
    color: #5C748C;
    margin-bottom: 40px;
}

.btnL {
    border: 2px solid #5C748C;
    width: 100%;
}

.btnLogin {
    background-color: #5C748C;
    color: white;
}
.btnLogin:hover {
    background-color: white;
    color: #5C748C ;
}
.mgBtmLgn {
    margin-bottom: 10px;
}