@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.rowCenter {
  text-align: center !important;
}
.cardReg {
    border: "none" !important;
    background-color: #bdcbe5  !important;
}
.textRegHead {
    /* font-family: 'Uchen', serif; */
    font-weight: "400";
    color: #5C748C;
    margin-bottom: 40px;
}

.btnR {
    border: 2px solid #5C748C;
    width: 100%;
}

.btnReg {
    background-color: #5C748C;
    color: white;
}
.btnReg:hover {
    background-color: white;
    color: #5C748C ;
}
.mgBtmReg {
    margin-bottom: 10px;
}